<ion-content class="ion-padding">
  <form (ngSubmit)="onSubmit()">
    <ion-card>
      <ion-card-header>
        <ion-card-title class="ion-text-center">Iniciar Sesión</ion-card-title>
      </ion-card-header>
      <ion-card-content>  
        <ion-item>
          <ion-label position="floating">Correo Electrónico</ion-label>
          <ion-input type="email" [(ngModel)]="email" name="email" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="password" [(ngModel)]="password" name="password" required></ion-input>
        </ion-item>
        <ion-button expand="block" type="submit" class="ion-margin-top">Ingresar</ion-button>
      </ion-card-content>
    </ion-card>
  </form>
</ion-content>
