ion-button {
  width: 33.33%; // Un tercio del ancho de la página
  margin: 0 auto; // Centrar el botón horizontalmente
  display: block; // Asegurar que el botón ocupe todo el ancho asignado
}

ion-item.password-item {
  display: flex;
  align-items: center;
}

ion-button.password-toggle {
  margin-left: auto; // Alinear el botón a la derecha
}



@media (max-width: 576px) {
  ion-card {
    width: 100%;
    max-width: 90vw;
    margin: 0 auto;
  }
  ion-item.password-item {
    flex-direction: column;
    align-items: flex-start;
  }
  ion-button.password-toggle {
    margin-left: 0;
    margin-top: 8px;
  }
}