<ion-content class="ion-padding">
  <form (ngSubmit)="onSubmit()">
    <ion-card>
      <ion-card-header>
        <ion-card-title class="ion-text-center">Iniciar Sesión</ion-card-title>
      </ion-card-header>
      <ion-card-content>  
        <ion-item class="password-item">
          <ion-label position="floating">Correo Electrónico</ion-label>
          <ion-input type="email" [(ngModel)]="email" name="email" required></ion-input>
        </ion-item>
        <ion-item class="password-item">
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input [type]="showPassword ? 'text' : 'password'" [(ngModel)]="password" name="password" required></ion-input>
          <ion-button fill="clear" slot="end" (click)="togglePasswordVisibility()" class="password-toggle">
            <ion-icon [name]="showPassword ? 'eye-off' : 'eye'"></ion-icon>
          </ion-button>
        </ion-item >
        <br>
        <ion-button expand="block" type="submit" class="ion-margin-top">Ingresar</ion-button>
        <p class="ion-text-center ion-margin-top">
          <br> <a href="#">Restablecer Contraseña</a>
        </p>
      </ion-card-content>
    </ion-card>
  </form>
</ion-content>
