<ion-content class="ion-padding" style="background-color: #121212; color: #ffffff;">
  <form (ngSubmit)="onSubmit()" class="container">
    <div class="card" style="background-color: #1e1e1e; color: #ffffff; border: 1px solid #000000; box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);">
      <div class="card-header text-center" style="background-color: rgb(42, 42, 42); color: #ffffff;">
        <h5 class="card-title">Restablecer Contraseña</h5>
      </div>
      <div class="card-body">
        <div class="form-group">
          <label for="email">Correo Electrónico</label>
          <input type="email" class="form-control" id="email" [(ngModel)]="email" name="email" required style="background-color: #ffffff; color: #000000;">
        </div>
        <div class="form-group">
          <label for="newPassword">Nueva Contraseña</label>
          <input type="password" class="form-control" id="newPassword" [(ngModel)]="newPassword" name="newPassword" required style="background-color: #ffffff; color: #000000;">
        </div>
        <div class="form-group">
          <label for="confirmPassword">Confirmar Contraseña</label>
          <input type="password" class="form-control" id="confirmPassword" [(ngModel)]="confirmPassword" name="confirmPassword" required style="background-color: #ffffff; color: #000000;">
        </div>
        <button type="submit" class="btn btn-primary btn-block mt-3" style="background-color: #0000ff; color: #ffffff; transition: background-color 0.3s ease">Restablecer</button>
      </div>
    </div>
  </form>
</ion-content>
