<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title
      class="ion-text-left"
      style="position: relative; top: 10%; left: 0; margin-left: 2%; font-size: 20px; font-weight: bold"
    >
      RegistrAPP
    </ion-title>
    <ion-buttons slot="end">
      <ion-text style="margin-right: 30px; font-size: 24px;">{{ usuario.nombre }} </ion-text>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" offset-md="3">
        <ion-card style="background-color: #333;">
          <ion-card-header>
            <ion-card-title style="color: white; font-size: 24px; text-align: center;">Información del Usuario</ion-card-title>
          </ion-card-header>
          <ion-card-content style="background-color: #333!important;">
            <ion-text style="color: white; font-size: 20px; text-align: center; display: block; background-color: #333!important;">Nombre: {{ usuario.nombre }}</ion-text>
            <ion-text style="color: white; font-size: 20px; text-align: center; display: block;">Apellido: {{ usuario.email }}</ion-text>
            <ion-text style="color: white; font-size: 20px; text-align: center; display: block;">status: {{ usuario.status ? 'Presente' : 'Ausente' }}</ion-text>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row class="ion-margin-top">
      <ion-col size="12" class="ion-text-center">
        <ion-button (click)="abrirModal()">REGISTRA TU ASISTENCIA</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-modal #modal>
  <ng-template>
    <ion-content class="ion-padding">
      <!-- Escáner de código QR -->
      <zxing-scanner
        [start]="true"
        (scanSuccess)="onCodeResult($event)"
        style="width: 100%; height: auto;">
      </zxing-scanner>
      <ion-button expand="block" (click)="cerrarModal()" style="margin-top: 0;">Cerrar</ion-button>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-button expand="block" (click)="confirmarCerrarSesion()">Cerrar sesión</ion-button>

<ion-alert
  [isOpen]="mostrarAlerta"
  header="Confirmar"
  message="¿Estás seguro de que deseas cerrar sesión?"
  [buttons]="alertButtons">
</ion-alert>
