<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Mi Dashboard
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  
<ion-button routerLink="/home/login">Ir a Login</ion-button>

  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Resumen</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item>
                <ion-label>Tareas completadas</ion-label>
                <ion-badge slot="end" color="success">8</ion-badge>
              </ion-item>
              <ion-item>
                <ion-label>Tareas pendientes</ion-label>
                <ion-badge slot="end" color="warning">3</ion-badge>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
      
      <ion-col size="12" size-md="6">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Actividad reciente</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item>
                <ion-label>Proyecto A actualizado</ion-label>
                <ion-note slot="end">Hace 2 horas</ion-note>
              </ion-item>
              <ion-item>
                <ion-label>Nueva tarea asignada</ion-label>
                <ion-note slot="end">Hace 1 día</ion-note>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-navbar class="sticky-bottom"></app-navbar>


</ion-content>