    <ion-header [translucent]="true">
    <ion-toolbar color="primary">
      <ion-title class="ion-text-left" style="position: relative; top: 10%; left: 0; margin-left: 2%;" style="font-size: 20px; font-weight: bold;">
        RegistrAPP
      </ion-title>
      <ion-buttons slot="end">
        <ion-text>{{ user.nombre }}</ion-text>
        <ion-button (click)="confirmarCerrarSesion()">Cerrar Sesión</ion-button>
        <ion-button (click)="toggleNightMode()" style="margin-left: auto;"></ion-button>
        <ion-icon name="moon" *ngIf="!isNightMode"></ion-icon>
        <ion-icon name="sunny" *ngIf="isNightMode"></ion-icon>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

  <ion-content [fullscreen]="true" class="ion-padding">
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-md="6">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Hola {{ user.nombre }}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-text class="ion-text-center">{{ fechaHora | date:'dd/MM/yyyy' }}</ion-text>
              <br>
              <ion-text class="ion-text-center">ID: {{ user.id }}</ion-text>
              <br>
              <ion-text class="ion-text-center">Nombre: {{ user.nombre }}</ion-text>
              <br>
              <ion-text class="ion-text-center">Usuario: {{ user.user }}</ion-text>
              <br>
              <ion-text class="ion-text-center">Correo: {{ user.correo }}</ion-text>
              <br>
              <ion-text class="ion-text-center">Tipo de Perfil: {{ user.tipoPerfil }}</ion-text>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="12" size-md="6">
          <ion-card>
            <ion-card-header style="background-color: yellow;">
              <ion-card-title style="color: black; font-size: 20px; font-weight: bold;">Lista de Secciones</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-list>
                <ion-item *ngFor="let curso of cursos" button (click)="abrirModal(curso)">
                  <ion-label>{{ curso.nombre }} ({{ curso.codigo }})</ion-label>
                </ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>

  <ion-modal #modalQR>
    <ng-template>
      <ion-content class="ion-padding">
        <div style="text-align: center;">
          <ion-title style="position: absolute; top: 10px; left: 50%; transform: translateX(-50%); padding: 5px;">
            {{ seccionSeleccionada.nombre }}
          </ion-title>
          <img [src]="qrCodeUrl" alt="Código QR" class="responsive-img" style="margin-top: 5%;">

        </div>
        <p class="ion-text-center">{{ fechaHora | date:'dd/MM/yyyy HH:mm' }}</p>
        
        <!-- Lista de estudiantes sin confirmar asistencia -->
        <ion-list>
          <ion-item *ngIf="seccionSeleccionada.alumnos.length === 0">
            <ion-label>Aún no hay alumnos en este curso</ion-label>
          </ion-item>
          <ion-item *ngFor="let estudiante of seccionSeleccionada.alumnos">
            <ion-label>{{ estudiante.nombre }}</ion-label>
            <ion-icon [name]="estudiante.asistenciaMarcada ? 'checkmark-circle' : 'close-circle'" [color]="estudiante.asistenciaMarcada ? 'success' : 'danger'" slot="start"></ion-icon>
            <ion-button slot="end" (click)="marcarAsistentePresente(estudiante)" color="success">Presente</ion-button>
            <ion-button slot="end" (click)="marcarAsistenteAusente(estudiante)" color="danger">Ausente</ion-button>
          </ion-item>
        </ion-list>
      </ion-content>
      <ion-footer>
        <ion-button expand="block" (click)="cerrarModal()">Cerrar</ion-button>
      </ion-footer>
    </ng-template>
  </ion-modal>

  <ion-alert
    [isOpen]="mostrarAlerta"
    header="Confirmar"
    message="¿Estás seguro de que deseas cerrar sesión?"
    [buttons]="alertButtons">
  </ion-alert>